
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4A3B2A;
    color: #5A4634;
    
}

   h1, h2, h3 {
        color: #3B2A1E;
    }




body {
    background-color: #f4f4f9;
    color: 333;
}


.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #EAD8C0;
}


.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}


.nav-links a {
    text-decoration: none;
    color: #5a4634;
    font-weight: 300;
    transition: color 0.3s;
}


.nav-links a:hover {
    color: #7c5214;
}


.search-container { 
    display: flex;
    align-items: center;
}

.search-container input {
padding: 8px 12px;
border: 1px solid #c3a480; 
border-radius: 20px 0 0 20px;
outline: none;
transition: border-color 0.3s;
}


.search-container button {
padding: 8px 15px;
border: none;
background-color: #a67c52; 
color: white;
border-radius: 0 20px 20px 0;
transition: background-color 0.3s;
}



.container {
max-width: 1200px;
margin: 20px auto;
padding: 0 20px;
}



.content-section {
margin-bottom: 50px;
}


.content-section h2 {
margin-bottom: 20px;
border-left: 5px solid #9e7317;
padding-left: 10px;
}

.card-grid {
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.card {
flex: 1;
min-width: 250px;
background: white;
border-radius: 8px;
overflow: hidden;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
transition: transform 0.3s;
}

.card:hover {
transform: translateY(-5px);
}


.card-image {
width: 100%;
height: 180px;
background-color: #ddd; 
}

.card h3 {
padding: 15px;
font-size: 1.1rem;
text-align: center;
}

.logo {
display: flex;
align-items: center;

}

.logo-img {
height: 100px; 
width: auto; 
display: block;
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 5%; 
}

body.background {
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(
        180deg,
        #f2e6d8,
        #ead8c0,
        #d0b490

    );
}