* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5A4634;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(
        180deg,
        #f2e6d8,
        #ead8c0,
        #d0b490
    );
}

h1, h2, h3 {
    color: #3B2A1E;
}

/* ===== MENU (EXATAMENTE COMO ERA ANTES) ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #EAD8C0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 100px;
    width: auto;
}

/* LINKS */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #5a4634;
    font-weight: 300;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #7c5214;
}

/* BUSCA */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px 12px;
    border: 1px solid #c3a480;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-container button {
    padding: 8px 15px;
    border: none;
    background-color: #a67c52;
    color: white;
    border-radius: 0 20px 20px 0;
}