/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5A4634;
}

/* FUNDO */
body.background {
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #f2e6d8,
        #ead8c0,
        #d0b490
    );
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #EAD8C0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 100px;
}

/* MENU */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #5a4634;
    font-weight: 300;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #7c5214;
}

/* PESQUISA */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px 12px;
    border: 1px solid #c3a480;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-container button {
    padding: 8px 15px;
    border: none;
    background-color: #a67c52;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

/* PRODUTOS */
.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* CARD PRODUTO */
.card {
    background-color: #FBF9F6;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card p {
    margin: 10px 0;
    font-weight: bold;
    color: #b37a3c;
}

.card button {
    background-color: #b37a3c;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background-color: #8f5f2c;
}